/**
 *    This stylesheet is using BEM naming convention
 *    TODO: Convert all class to BEM as much as possible for organized layout
 */

/**************************************************************************/
/** Variables *************************************************************/
/**************************************************************************/
:root {
    --font: 'Segoe UI', 'Helvetica Neue', Tahoma, Arial, 'Hiragino Kaku Gothic ProN', 'Meiryo', 'Microsoft YaHei', 'Apple SD Gothic Neo', sans-serif;
    
    --transition: 135ms cubic-bezier(.4,0,.2,1); /* don't put property here */
    
    --box-shadow-rgb: 60,64,67;
    --box-shadow: 0 1px 1px 0 rgba(var(--box-shadow-rgb),.08),0 1px 3px 1px rgba(var(--box-shadow-rgb),.16);
    --box-shadow-hover: 0 1px 3px 1px rgba(var(--box-shadow-rgb),.2),0 2px 8px 4px rgba(var(--box-shadow-rgb),.1);

    --border-radius: 2px;

    --primary-lighter: #c5cae9; /* For experimental use */
    --primary-light: #7986cb;
    --primary: #3f51b5; /* default color */
    --primary-dark: #303f9f;
    --primary-darker: #1a237e; /* For experimental use */
}

/**************************************************************************/
/** Default ***************************************************************/
/**************************************************************************/
::selection {
    color: #fff;
    background-color: var(--primary);
}

::-moz-selection {
    color: #fff;
    background-color: var(--primary);
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-y: auto;
    background-color: #fff;
    font-family: var(--font);
}

a {
    text-decoration: underline;
    color: var(--primary-light);
}

a:hover,
a:focus {
    color: var(--primary);
}

/**************************************************************************/
/** Blocks ****************************************************************/
/**************************************************************************/
.width {
    position: relative;
    width: calc(100% - 40px);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    min-height: 38px;
    border: 0;
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #3f51b5;
    background-color: var(--primary);
}

.w-alert {
    padding: 4px 0;
    text-align: center;
    background-color: var(--primary-dark);
}

.info {
    padding: 0;
    list-style: none;
    line-height: 1.5;
}

.info:first-of-type {
    padding-top: 20px;
}

.info:last-of-type {
    padding-bottom: 100px;
}

.screenshot {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-bottom: 10px;
}

.footer {
    border-top: 1px solid rgba(0,0,0,.12);
    padding: 14px 0;
}

/**************************************************************************/
/** Elements **************************************************************/
/**************************************************************************/
.navbar__hamburger {
    background-color: rgba(255,255,255,.5);
    line-height: 1;
    margin: 11px;
    padding: 10px 11px;
    display: none;
    text-align: center;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    transition: all var(--transition);
    -webkit-transition: all var(--transition);
}

.navbar__hamburger>.glyphicon {
    color: var(--primary);
}

.navbar__hamburger:hover,
.navbar__hamburger:focus {
    background-color: #fff;
    color: var(--primary);
    box-shadow: var(--box-shadow-hover);
    -webkit-box-shadow: var(--box-shadow-hover);
}

.navbar__menu {
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.navbar__item {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    padding: 12px 20px;
    text-decoration: none;
    transition: all var(--transition);
    -webkit-transition: all var(--transition);
}

.navbar__item:not(.navbar__item--active) {
    color: #fff;
}

.navbar__item:hover:not(.navbar__item--active),
.navbar__item:focus:not(.navbar__item--active) {
    background-color: #fff;
    text-decoration: none;
    color: var(--primary);
}

.w-alert__text {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
}

.w-alert__text:last-of-type {
    margin: 0;
}

.w-alert__link {
    color: #eee;
    text-decoration: underline;
    transition: all var(--transition);
    -webkit-transition: all var(--transition);
}

.w-alert__link:hover,
.w-alert__link:focus {
    color: #fff;
}

.info__list {
    position: relative;
    padding: 25px 0;
    color: #5f6368;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: var(--primary);
}

.info__list:first-child {
    border: 0;
}

.info__title,
.info__heading,
.info__subheading {
    color: rgb(32,33,36);
    font-weight: 600;
    display: block;
    margin-bottom: 0.6em;
    line-height: 1.25;
}

.info__title {
    font-size: 2em;
    margin-bottom: 0;
}

.info__heading {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.info__subheading {
    font-size: 1.25em;
    margin-top: 22px;
    margin-bottom: 10px;
}

.info__date {
    position: absolute;
    top: -17px;
    left: 0;
    max-width: 200px;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    min-height: 32px;
    width: 124px;
    text-align: center;
    height: 1px;
    color: #fff;
    background-color: var(--primary);
}

.info__ordered-list,
.info__unordered-list {
    font-size: 16px;
    color: inherit;
}

.info__unordered-list {
    list-style: disc outside;
}

.info__content {
    font-size: 16px;
    font-weight: 400;
    color: inherit;
    margin: 0 0 16px;
}

.info__content>a {
    font-size: 16px;
    text-decoration: underline;
    color: var(--primary-light);
    transition: all var(--transition);
    -webkit-transition: all var(--transition);
}

.info__content>a:hover,
.info__content>a:focus {
    color: var(--primary);
}

.info__donate-link,
.info__donate-link:hover,
.info__donate-link:focus {
    text-decoration: none !important;
}

.info__pre {
    font-size: 14px;
    background-color: #f6f8fa;
    color: #24292e;
    border: 0;
    padding: 15px;
    padding-right: 25px;
    overflow: auto;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
}

.info__content>img {
    max-width: 100%;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    transition: all var(--transition);
    -webkit-transition: all var(--transition);
}

.info__content>img:hover {
    box-shadow: var(--box-shadow-hover);
    -webkit-box-shadow: var(--box-shadow-hover);
}

.screenshot__compare {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    overflow: hidden;
    max-width: 320px;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
}

.screenshot__compare:nth-child(2n+1) {
    margin-right: 10px;
}

.screenshot__image {
    width: 320px;
    height: 180px;
    max-width: 320px;
    max-height: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.screenshot__title {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    padding: 12px 0;
    color: var(--primary);
}

.footer__menu {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer__item {
    margin-right: 1.5rem;
    color: #98a6ad;
    font-size: 12px;
    transition: all var(--transition);
    -webkit-transition: all var(--transition);
}

.footer__item:hover,
.footer__item:focus {
    color: var(--primary);
}

.footer__item:last-of-type {
    margin-right: 0;
}

/**************************************************************************/
/** Modifiers *************************************************************/
/**************************************************************************/
.navbar__item--active {
    background-color: #fff;
    color: var(--primary);
}

.navbar__item--active:hover,
.navbar__item--active:focus {
    text-decoration: none;
}

/**************************************************************************/
/** RWD *******************************************************************/
/**************************************************************************/
@media only screen and (max-width: 700px) {
    .screenshot {
        flex-direction: column;
        -webkit-flex-direction: column;
    }

    .screenshot__compare {
        margin-bottom: 10px;
    }

    .screenshot__compare:first-of-type {
        margin-right: 0;
    }

    .screenshot__compare:last-of-type {
        margin: 0;
    }
}

@media only screen and (max-width: 540px) {
    .navbar .width {
        width: 100%;
        margin: 0;
        padding: 0;
        transition: all var(--transition);
        -webkit-transition: all var(--transition);
    }

    .navbar__hamburger {
        display: inline-block;
    }

    .navbar__menu {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        height: 0;
        overflow: hidden;
    }

    /* .navbar__hamburger:hover~.navbar__menu, */
    .navbar__hamburger:focus~.navbar__menu,
    .navbar__menu:hover {
        height: 100%;
    }
}

@media only screen and (min-width:  480px) {
    .info__donate-image { 
        max-height: 50px;
    }
}

@media only screen and (max-width: 480px) {    
    .screenshot__image {
        width: 100%;
    }
}

@media only screen and (max-width: 479px) {
    .info__donate-image {
        width: 100%;
        height: auto;
    }
}

/**************************************************************************/
/** Octocat ***************************************************************/
/**************************************************************************/
.github-corner:hover .octo-arm {
    /* animation: octocat-wave 560ms ease-in-out */
    animation: octocat-wave 780ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

/* @media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }

    .github-corner .octo-arm {
        animation: none
    }
} */

