canvas {
    background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

td {
    border: 1px solid #CCC;
    vertical-align: middle;
    padding: 2px;
}

td:nth-child(3) {
    width: 280px;
}

#loading {
    width: 642px;
    height: 362px;
    overflow: hidden;
    position: absolute;
    text-align: center;
}

#preview {
    display: block;
    cursor: default;
}

#image_url_lge {
    width: 250px;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.error {
    color: #F44336;
}

.success {
    color: #4CAF50;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.result {
    transition: all var(--transition);
    -webkit-transition: all var(--transition);
}

.result a {
    transition: all var(--transition);
    -webkit-transition: all var(--transition);
}

.result .text,
.result .thumb {
    display: inline-block;
}

.result .thumb {
    float: right;
}

.result a>div::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

#results-list .nav>li>a {
    padding: 8px;
    border-radius: 0;
}

#results-list .nav-pills>li.active>a,
#results-list .nav-pills>li.active>a:focus,
#results-list .nav-pills>li.active>a:hover {
    background-color: #EEE;
    color: #333;
}

.result .title {
    color: var(--primary);
}

.result .ep {
    color: #F44336;
}

.result .time {
    color: #4CAF50;
}

.result .similarity {
    color: #607D8B;
    font-size: 12px;
}

.result .file {
    color: #9E9E9E;
    font-size: 8px;
}

#progressBarControl {
    top: -5px;
    visibility: hidden;
}

#fileNameDisplay {
    position: absolute;
    font-size: 10px;
    margin-top: 10px;
}

#timeCodeDisplay {
    position: absolute;
    right: 16px;
    font-size: 10px;
    margin-top: 10px;
}

#main .main-footer__warning {
    color: #EA0000;
}

#results-list {
    float: left;
    width: 642px;
    background-color: rgba(255, 255, 255, 1);
    color: #333;
}

@media (min-width: 1020px) {
    #results-list {
        width: 320px;
    }

    .result .thumb {
        float: none;
    }
}

#results-list #controls {
    padding: 10px;
    text-align: center;
}

#results-list #controls.checkbox {
    margin: 0;
}

#results-list #status {
    text-align: center;
}

#info #naturalText,
#info #table {
    /* display: block; */
    max-width: 320px;
}

#info #table {
    margin-top: 10px;
}

#info #ranking {
    width: 100%;
}

#info #ranking a {
    text-decoration: none;
}

#info #ranking .no-sort {
    cursor: pointer;
    border-bottom: 1px solid #666;
}

#info h1,
#info h2,
#info h3 {
    color: rgb(32,33,36);
}

#info h1 {
    font-size: 18px;
}

#info h2 {
    font-size: 12px;
}

#info h3 {
    font-size: 16px;
}

#info #poster {
    display: block;
    min-width: 225px;
    max-width: 225px;
    min-height: 320px;
    float: right;
}

#info img {
    display: block;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    transition: all var(--transition);
    -webkit-transition: all var(--transition);
}

#info img:hover {
    box-shadow: var(--box-shadow-hover);
    -webkit-box-shadow: var(--box-shadow-hover);
}

#info table {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    cursor: default;
    border-collapse: separate; /* to work box-shadow on IE */
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
}

#info table tr {
    transition: all var(--transition);
    -webkit-transition: all var(--transition);
}

#info table tr:not(:last-child) td {
    border-bottom: 1px solid rgba(224,224,224,1);
}

#info table tr:hover {
    background-color: #eee;
}

#info table td {
    width: 50%;
    vertical-align: middle;
    padding: 3px 6px;
    border: 0;
    font-size: 13px;
    font-weight: 400;
    color: rgba(0,0,0,.85);
}

#info a:hover {
    text-decoration: underline;
}

#info #staff {
    margin-top: 8px;
}

#info .character {
    float: left;
    height: 150px;
    width: 50%;
    margin: 8px 0;
}

#info .character>div {
    float: left;
    display: table;
    height: 100%;
}

#info .character>div:last-child {
    width: 135px;
}

#info .character>div div {
    display: table-cell;
    vertical-align: middle;
}

#info .character>div:first-child div {
    width: 100px;
    height: 150px;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#info .character>div:last-child div {
    padding: 10px;
    text-align: center;
}
