:root {
    --font: 'Segoe UI', Roboto, Helvetica, Arial, Meiryo, "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
    --font-size: 15px;
    --default-color: #60738b;
    --default-color-rgb: 96, 115, 139;
    --transition: 0.2s linear;
    --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: #fff;
    font-family: var(--font);
    font-size: var(--font-size);
}

a {
    text-decoration: underline;
    color: var(--default-color);
    transition: color var(--transition);
    -webkit-transition: color var(--transition);
}

a:hover {
    color: #000;
}

.container {
    width: calc(100% - 40px);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.wait-alert {
    border: 0;
    border-radius: 0;
}

.wait-alert__updates {
    background: #3498db;
}

.wait-alert__updates>* {
    text-align: center;
}

.wait-alert__updates a {
    text-decoration: underline;
    color: #eee;
    transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
}

.wait-alert__updates a:hover {
    color: #fff;
}

.wait-info__group {
    padding: 0;
    list-style-type: none;
}

.wait-info__group:first-of-type {
    padding-top: 20px;
}

.wait-info__group:last-of-type {
    padding-bottom: 100px;
}

.wait-info__group>li {
    border-top: 1px dashed var(--default-color);
    padding: 25px 0;
}

.wait-info__group>li:first-child {
    /* Reset border top */
    border: 0;
}

.wait-info__group>li>h2,
.wait-info__group>li>h3,
.wait-info__group>li>h4 {
    color: var(--default-color);
    font-weight: 700;
    display: block;
    margin-bottom: 0.6em;
}

.wait-info__group>li>h2 {
    font-size: 34px;
    line-height: 1.7;
    margin-bottom: 0;
}

.wait-info__group>li>h3 {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    font-size: 18px;
}

.wait-info__group>li>h3>.date {
    color: var(--default-color);
    max-width: 90px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
}

.wait-info__group>li:nth-child(2)>h3>.date {
    background: var(--default-color);
    color: #fff;
}

.wait-info__group>li>h4 {
    font-size: 15px;
}

.wait-info__group>li>div {
    font-size: 15px;
    line-height: 1.7;
    color: #2d3640;
    text-align: justify;
}

.wait-info__group>li>div strong {
    display: inline-block;
    padding: 0 0 10px;
}

.wait-info__group>li>div img {
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
}

.wait-info__group>li>div img.wait-donate__btn {
    display: inline-block;
    border-radius: 0;
    max-height: 50px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.wait-screenshot__compare {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-bottom: 10px;
}

.wait-screenshot__compare>div {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    max-width: 320px;
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
}

.wait-screenshot__compare>div>span:nth-child(1) {
    width: 320px;
    height: 180px;
    max-width: 320px;
    max-height: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.wait-screenshot__compare>div>span:nth-child(2) {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: var(--default-color);
}

.wait-screenshot__compare>div:nth-child(2n+1) {
    margin-right: 10px;
}

.navbar {
    background: #60738b;

    /* Twiistrz Edit */
    /* background: rgba(34, 35, 40, 0.9);
    background-image:
        linear-gradient(to bottom, rgba(34, 35, 40, 0) 0%, rgba(34, 35, 40, 0.4) 100%),
        linear-gradient(to right, rgba(34, 35, 40, 0.4) 0%, rgba(34, 35, 40, 0) 50%, rgba(34, 35, 40, 0.4) 100%); */
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
    min-height: 75px;
}

.navbar .nav a {
    font-size: 12px;
    font-weight: 700;
    line-height: 75px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: opacity var(--transition);
    -webkit-transition: opacity var(--transition);
}

.navbar .nav:hover a:not(.active):not(:hover):not(:focus) {
    opacity: 0.4;
}

.navbar .nav a.active {
    opacity: 1;
    background: rgba(255, 255, 255, 0.05);
    transition: opacity var(--transition);
    -webkit-transition: opacity var(--transition);
}

.navbar .nav li:not(:last-child) {
    margin-right: 4px;
}

.navbar .nav li>a:hover,
.navbar .nav li>a:focus {
    opacity: 1;
    border: 0;
    background: rgba(255, 255, 255, 0.05);
}

.footer {
    border-top: 1px solid rgba(139, 156, 174, 0.3);
}

.footer .breadcrumb {
    background-color: inherit;
    text-align: center;
    margin: 0;
}

.footer .breadcrumb li:before {
    display: none;
}

.footer .breadcrumb a {
    font-size: 13px;
    font-weight: 600;
    color: rgb(139, 156, 174);
    line-height: 38px;
    padding: 0 5px;
    margin: 0 4px;
}

.result img {
    width: 295px;
}

/* Responsive */
@media only screen and (max-width: 767px) {
    .navbar .container {
        transition: all var(--transition);
        -webkit-transition: all var(--transition);
    }

    .navbar .nav {
        margin: 0;
    }

    .navbar .nav li {
        display: inline-block;
        margin: 0 !important;
        padding: 0;
    }
}

@media only screen and (max-width: 719px) {
    .wait-screenshot__compare {
        flex-direction: column;
        -webkit-flex-direction: column;
    }

    .wait-screenshot__compare>div {
        margin-bottom: 10px;
    }

    .wait-screenshot__compare>div:first-child {
        margin-right: 0;
    }

    .wait-screenshot__compare>div:last-child {
        margin: 0;
    }
}

@media only screen and (max-width: 506px) {
    .navbar .container {
        width: 100%;
        margin: 0;
        padding: 0;
        transition: all var(--transition);
        -webkit-transition: all var(--transition);
    }

    .navbar .nav li {
        display: block;
    }
}

@media only screen and (max-width: 389px) {
    .wait-screenshot__compare>div>span:nth-child(1) {
        width: 100%;
    }
}