{
  "parserOptions": {
      "ecmaVersion": 5,
      "sourceType": "script",
      "ecmaFeatures": {}
  },
  "plugins": [],
  "rules": {
    "no-await-in-loop": 1,
    "no-compare-neg-zero": 2,
    "no-cond-assign": 2,
    "no-console": 1,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-empty-character-class": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-obj-calls": 2,
    "no-prototype-builtins": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-template-curly-in-string": 2,
    "no-unexpected-multiline": 2,
    "no-unreachable": 2,
    "no-unsafe-finally": 2,
    "no-unsafe-negation": 2,
    "use-isnan": 2,
    "valid-jsdoc": 0,
    "valid-typeof": 2,

    "accessor-pairs": 0,
    "array-callback-return": 2,
    "block-scoped-var": 0,
    "class-methods-use-this": 2,
    "complexity": 0,
    "consistent-return": 0,
    "curly": 2,
    "default-case": 2,
    "dot-location": 2,
    "dot-notation": 2,
    "eqeqeq": 2,
    "guard-for-in": 1,
    "no-alert": 2,
    "no-caller": 2,
    "no-case-declarations": 2,
    "no-div-regex": 2,
    "no-else-return": 2,
    "no-empty-function": 2,
    "no-empty-pattern": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-extra-label": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-global-assign": 2,
    "no-implicit-coercion": 2,
    "no-implicit-globals": 0,
    "no-implied-eval": 2,
    "no-invalid-this": 0,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-magic-numbers": 0,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-new": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-octal": 2,
    "no-octal-escape": 2,
    "no-param-reassign": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-restricted-properties": 2,
    "no-return-assign": 2,
    "no-return-await": 2,
    "no-script-url": 2,
    "no-self-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unmodified-loop-condition": 2,
    "no-unused-expressions": 2,
    "no-unused-labels": 2,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-useless-escape": 2,
    "no-useless-return": 2,
    "no-void": 1,
    "no-warning-comments": 1,
    "no-with": 2,
    "prefer-promise-reject-errors": 1,
    "radix": 2,
    "require-await": 2,
    "vars-on-top": 0,
    "wrap-iife": 2,
    "yoda": 2,

    "strict": 0,

    "init-declarations": 0,
    "no-catch-shadow": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-restricted-globals": 2,
    "no-shadow": 2,
    "no-shadow-restricted-names": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-undefined": 2,
    "no-unused-vars": 1,
    "no-use-before-define": 0,

    "callback-return": 2,
    "global-require": 2,
    "handle-callback-err": 2,
    "no-mixed-requires": 2,
    "no-new-require": 2,
    "no-path-concat": 2,
    "no-process-env": 2,
    "no-process-exit": 2,
    "no-restricted-modules": 2,
    "no-sync": 2,

    "array-bracket-spacing": 2,
    "block-spacing": 2,
    "brace-style": 2,
    "camelcase": 0,
    "capitalized-comments": 0,
    "comma-dangle": 2,
    "comma-spacing": 2,
    "comma-style": 2,
    "computed-property-spacing": 2,
    "consistent-this": 2,
    "eol-last": 2,
    "func-call-spacing": 2,
    "func-name-matching": 2,
    "func-names": 0,
    "func-style": 2,
    "id-blacklist": 2,
    "id-length": 0,
    "id-match": 0,
    "indent": [2, 2],
    "jsx-quotes": 2,
    "key-spacing": 2,
    "keyword-spacing": 2,
    "line-comment-position": 2,
    "linebreak-style": 2,
    "lines-around-comment": 2,
    "lines-around-directive": 2,
    "max-depth": 2,
    "max-len": [1, 1000],
    "max-lines": [1, 10000],
    "max-nested-callbacks": 1,
    "max-params": 1,
    "max-statements": [1, 10000],
    "max-statements-per-line": 1,
    "multiline-ternary": 0,
    "new-cap": 2,
    "new-parens": 2,
    "newline-after-var": 0,
    "newline-before-return": 0,
    "newline-per-chained-call": 0,
    "no-array-constructor": 2,
    "no-bitwise": 2,
    "no-continue": 2,
    "no-inline-comments": 2,
    "no-lonely-if": 2,
    "no-mixed-operators": 0,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-assign": 2,
    "no-multiple-empty-lines": 2,
    "no-negated-condition": 2,
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "no-plusplus": 2,
    "no-restricted-syntax": 2,
    "no-tabs": 2,
    "no-ternary": 0,
    "no-trailing-spaces": 2,
    "no-underscore-dangle": 2,
    "no-unneeded-ternary": 2,
    "no-whitespace-before-property": 2,
    "nonblock-statement-body-position": 2,
    "object-curly-newline": 2,
    "object-curly-spacing": 2,
    "object-property-newline": 2,
    "one-var": 0,
    "one-var-declaration-per-line": 2,
    "operator-assignment": 2,
    "operator-linebreak": 2,
    "padded-blocks": [2, "never"],
    "quote-props": 2,
    "quotes": 2,
    "require-jsdoc": 0,
    "semi": 2,
    "semi-spacing": 2,
    "sort-keys": 2,
    "sort-vars": 0,
    "space-before-blocks": 2,
    "space-before-function-paren": 2,
    "space-in-parens": 2,
    "space-infix-ops": 2,
    "space-unary-ops": 2,
    "spaced-comment": 2,
    "template-tag-spacing": 2,
    "unicode-bom": 2,
    "wrap-regex": 2,

    "arrow-body-style": 0,
    "arrow-parens": 0,
    "arrow-spacing": 0,
    "constructor-super": 0,
    "generator-star-spacing": 0,
    "no-class-assign": 0,
    "no-confusing-arrow": 0,
    "no-const-assign": 0,
    "no-dupe-class-members": 0,
    "no-duplicate-imports": 0,
    "no-new-symbol": 0,
    "no-restricted-imports": 0,
    "no-this-before-super": 0,
    "no-useless-computed-key": 0,
    "no-useless-constructor": 0,
    "no-useless-rename": 0,
    "no-var": 0,
    "object-shorthand": 0,
    "prefer-arrow-callback": 0,
    "prefer-const": 0,
    "prefer-destructuring": 0,
    "prefer-numeric-literals": 0,
    "prefer-rest-params": 0,
    "prefer-spread": 0,
    "prefer-template": 0,
    "require-yield": 0,
    "rest-spread-spacing": 0,
    "sort-imports": 0,
    "symbol-description": 0,
    "template-curly-spacing": 0,
    "yield-star-spacing": 0,

  },
  "env": {
    "browser": true,
    "es6": false,
    "jquery": true,
  },
  "globals": {
    "document": false,
    "navigator": false,
    "window": false,
    "ga": false,
    "grecaptcha": false,
  }
}