html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background-color: #F7F8FF;
  background-image: url("/bright-squares.png");
  text-shadow: 1px 1px 3px #ccc;
  font-family: Helvetica, Arial, Meiryo, "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
}
.page-header{
  border-bottom: 1px solid #9E9E9E;
}
.navbar{
  margin-bottom: 0;
}
.header{
  background-color: #60738B;
  border-radius: 0;
}
.header a{
  color:#FFF;
  transition: all 0.2s ease-out;
}
.header .active{
  color: #CCC;
  background-color: #485667;
  transition: all 0.2s ease-out;
}
.header li>a:hover{
  background-color: #485667;
  transition: all 0.2s ease-out;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #60738B;
}
.footer .breadcrumb{
  background-color: inherit;
  text-align: center;
}
.footer .breadcrumb a{
  color:#FFF;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.result img{
  width:295px;
}
